*
!.gitignore
!marmousi-new-2d.npz
!marmousi-new-vz-2d.npz
!seiscope-new-2d.npz
!seiscope-new-vz-2d.npz
!sigsbee-new-2d.npz
!sigsbee-new-vz-2d.npz
!vp-log-horizontal-well.npy
!horizontal-well-new-2d.npz
!horizontal-well-new-vz-2d.npz